.sidebarSec{
  direction: rtl;
}



.sidebar {
    width: 15%;
    height: 100vh;
    background-color: rgb(18, 22, 33);
}

.sidebar .logo {
    padding: 10px;
    text-align: center;
    padding-top: 30px;
}

.sidebar .logo h2 {
    color: white;
}

.sidebar .logo span {
    color: #3498db;
}

.sidebar hr {
    width: 200px; 
    margin: auto; 
    border: none; 
    height: 4px;
    background-color: white; 
    opacity: 0.8;
    border-radius: 25px;
}



.sidebar .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}



.custom-dropdown-button {
    background-color: transparent !important; 
    color: white !important;
    font-size: 16px !important; 
    border: none !important;
    padding: 10px 20px !important;
    transition: background-color 0.3s !important;
  }
  
  .custom-dropdown-button:hover {
    background-color: #1f70a6 !important;
  }
  
  .custom-dropdown-item {
    color: #333 !important;
    padding: 10px !important;
  }
  
  .custom-dropdown-item:hover {
    background-color: #3498db !important; 
    color: white !important; 
  }
  

  